<div class="m-2">
  <div class="jumbotron jumbotron-fluid p-2">
    <div class="row">
      <div class="col-3">
        <div class="list-group">
          <div class="list-group-item list-group-item-primary active">Steps:</div>
          <button
            *ngFor="let step of steps"
            class="list-group-item list-group-item-action list-group-item-primary d-flex align-items-center"
            [class.active] = "activeStepId == step.stepId"
            (click)="goToStep(step.stepId)"
            [disabled]="step.disabled"
          >
            <i class="fa fa-caret-right mr-2" *ngIf="activeStepId == step.stepId"></i>
            {{ step.stepName }}
          </button>
        </div>
      </div>
      <div class="col-9">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
