<app-wizzard #wizzard>
  <app-wizzard-template appWizzardStep stepName="Template step" stepId="first">
    <h1>Template step header</h1>
    <p>Something to write in template</p>
  </app-wizzard-template>
  <app-step-one appWizzardStep stepName="Component step 1"> </app-step-one>
  <app-step-two appWizzardStep stepName="Component step 2" stepId="disabled" [disabled]="true">
  </app-step-two>
  <app-step-three appWizzardStep stepName="Component step 3" stepId="last"> </app-step-three>

  <div class="d-flex">
    <button
      class="btn btn-primary mr-2"
      (click)="wizzard.goToStep('first')"
      placement="top"
      ngbTooltip="Goes to step with id 'first'"
    >
      Go to first
    </button>
    <button
      class="btn btn-primary mr-2"
      (click)="wizzard.previous()"
      [disabled]="wizzard.first"
      placement="top"
      ngbTooltip="Goes to previous enabled step from current one"
    >
      Previous
    </button>
    <button
      class="btn btn-primary mr-2"
      (click)="wizzard.next()"
      [disabled]="wizzard.last"
      placement="top"
      ngbTooltip="Goes to next enabled step from current one"
    >
      Next
    </button>
    <button
      class="btn btn-primary"
      (click)="wizzard.goToStep('last')"
      placement="top"
      ngbTooltip="Goes to step with id 'last'"
    >
      Go to last
    </button>
  </div>
  <div class="d-flex mt-2">
    <button
      class="btn btn-primary"
      (click)="wizzard.goToStep('disabled')"
      placement="top"
      ngbTooltip="Goes to step with id 'disabled', but will not transition since step is disabled"
    >
      Go to disabled
    </button>
  </div>
</app-wizzard>

<router-outlet></router-outlet>
